.ant-collapse {
    border: none !important;
}

.ant-collapse-content {
    border: none !important;
}

.ant-collapse-content {
    background-color: #fbfbfb !important;
}

.ant-collapse-item {
    border: none !important;
}
