.ant-collapse {
    background: #ffffff !important;
    border: none !important;
}

.ant-collapse-content {
    border: none !important;
}

.ant-collapse-item {
    border: none !important;
}

tr.ant-table-expanded-row {
    background: #ffffff !important;
}
